body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Fontjek';
  src: local('Fontjek'), url(./fonts/Fontjek.ttf) format('truetype');

}

.soundButton {
  font-family: 'Fontjek';
  color: white;
  border-radius: 40px;
  display: flex;
  justify-content: center;
}

button {
  font-family: 'Fontjek';
  color: #163A67;
  border-radius: 40px;
  cursor: pointer;

}